@charset "UTF-8";
@font-face {
  font-family: poppins;
  src: url(/fonts/poppins/Poppins-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.carrito-sticky {
  text-decoration: none;
  color: white;
  position: absolute;
  position: fixed;
  background-color: rgb(25, 90, 95);
  font-size: 25px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
}

/*Encabezado*/
.encabezado {
  background-color: #0f101a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.encabezado .encabezado_logo img {
  width: 150px;
  cursor: pointer;
}
.encabezado .encabezado_logo img:hover {
  transform: scale(1.05);
}
.encabezado .encabezado_form .buscador {
  border: 2px solid rgb(25, 90, 95);
  height: 25px;
  box-shadow: 0px 0px 10px rgb(25, 90, 95);
}
.encabezado .encabezado_form .btn {
  box-shadow: 0px 0px 10px rgb(25, 90, 95);
  color: white;
  background-color: rgb(25, 90, 95);
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  padding: 4px;
  margin: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

/*Barra de navegación*/
.navegador {
  background-color: rgb(90, 15, 15);
  position: sticky;
  top: 0;
  height: 50px;
  padding-top: 13px;
}
.navegador .menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
}
.navegador .menu .productos {
  text-decoration: none;
  color: white;
  margin: 15px;
}

/*Nombre de la página y que hacemos*/
.introduccion {
  text-align: center;
  margin: 15px;
}

/*CSS de el nombre de los producto*/
.producto {
  color: rgb(73, 73, 73);
  margin: 30px 150px;
  transition: 0.5s;
  display: inline-block;
  cursor: pointer;
}
.producto:hover {
  transform: scale(1.5);
}

/*Pagina en sí, con sus barras de productos (img, precio, boton, etc)*/
.contenedor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.contenedor .contenedor-tarjeta {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 0px 0px 10px #0f101a;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
  padding: 5px;
}
.contenedor .contenedor-tarjeta .tarjeta-img {
  width: 200px;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .precio {
  color: rgb(73, 73, 73);
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito {
  padding: 3px;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: rgb(25, 90, 95);
  transition: 0.2s;
  margin: 3px;
}
.contenedor .contenedor-tarjeta .tarjeta-cuerpo .precio-btn .boton-carrito:hover {
  transform: scale(1.1);
}

/*Pie de página*/
footer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
  grid-template-areas: "sn rs" "f f";
  background-color: #0f101a;
}
footer div {
  padding: 20px;
  text-align: center;
  color: white;
}
footer div h5 {
  font-size: 15px;
}
footer #sn {
  grid-area: sn;
}
footer #rs {
  grid-area: rs;
}
footer #f {
  grid-area: f;
  color: rgb(73, 73, 73);
}

/*Pequeños detalles para que la página sea rsponsive*/
@media (max-width: 500px) {
  .encabezado {
    flex-direction: column;
  }
  .navegador {
    padding-top: 0px;
  }
  .producto {
    text-align: center;
  }
  #f {
    margin-top: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
