$color-rojo-fuerte:rgb(90, 15, 15);
$color-fondo: #0f101a;
$boton: rgb(25, 90, 95);
$gris:rgb(73, 73, 73);
@font-face {
    font-family: poppins;
    src: url(/fonts/poppins/Poppins-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado{
    background-color: $color-fondo;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .encabezado_logo{
        img{
            width: 150px;
        }
    }
    .encabezado_form{
        .buscador{
            border: 2px solid $boton;
            height: 25px;
        }
        .btn{
            color: white;
            background-color: $boton;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            padding: 5px;
            margin: 5px;
            margin-bottom: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.navegador{
    background-color: $color-rojo-fuerte;
    position: sticky;
    top: 0;
    height: 50px;
    padding-top: 13px;
    .menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        text-decoration: none;
        list-style: none;
        .productos{
            text-decoration: none;
            color: white;
            font-family: poppins;
            margin: 15px;

        }
    }
}

.introduccion{
    text-align: center;
    font-family: poppins;
}

.producto{
    color: $gris;
    font-family: poppins;
}

.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .contenedor-tarjeta{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        box-shadow: 0px 0px 5px black;
        border-radius: 3px;
        width: 250px;
        margin: 10px;
        padding: 5px;

        .tarjeta-img{
            width: 200px;
        }
        .tarjeta-cuerpo{
            font-family: poppins;
            .precio-btn{
                margin-top: 5px;
                display: flex;
                justify-content: space-between;

                .precio{
                    color: $gris;
                }
                .boton-carrito{
                    padding: 3px;
                    font-size: 15px;
                    font-family: poppins;
                    border: none;
                    border-radius: 3px ;
                    color: white;
                    background-color: $boton;

                }
            }
        }
    }
}

@media (max-width:500px) {
    .encabezado{
        flex-direction: column;
    }
    .navegador{
        padding-top: 0px;
    } 
}

