$color-rojo-fuerte:rgb(90, 15, 15);
$color-fondo: #0f101a;
$boton: rgb(25, 90, 95);
$gris:rgb(73, 73, 73);
@font-face {
    font-family: poppins;
    src: url(/fonts/poppins/Poppins-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
                                                    /*Encabezado*/
.encabezado{
    background-color: $color-fondo;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .encabezado_logo{
        img{
            width: 150px;
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .encabezado_form{
        .buscador{
            border: 2px solid $boton;
            height: 25px;
        }
        .btn{
            color: white;
            background-color: $boton;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            padding: 4px;
            margin: 5px;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
}
                                                 /*Barra de navegación*/
.navegador{
    background-color: $color-rojo-fuerte;
    position: sticky;
    top: 0;
    height: 50px;
    padding-top: 13px;
    .menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        text-decoration: none;
        list-style: none;

        .productos{
            text-decoration: none;
            color: white;
            margin: 15px;
        }
    }
}
                                                /*Nombre de la página y que hacemos*/
.introduccion{
    text-align: center;
    margin: 15px;
}
                                                /*CSS de el nombre de los producto*/
.producto{
    color: $gris;
    margin: 30px 150px;
    transition: 0.5s;
    display: inline-block;
    cursor: pointer;
    &:hover{
        transform: scale(1.5);
    }
}
                                                /*Pagina en sí, con sus barras de productos (img, precio, boton, etc)*/
.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .contenedor-tarjeta{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        box-shadow: 0px 0px 10px $color-fondo;
        border-radius: 5px;
        width: 250px;
        margin: 10px;
        padding: 5px;

        .tarjeta-img{
            width: 200px;
        }
        .tarjeta-cuerpo{

            .precio-btn{
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
                align-items: end;

                .precio{
                    color: $gris;
                }

                .boton-carrito{
                    padding: 3px;
                    font-size: 15px;
                    border: none;
                    border-radius: 3px ;
                    color: white;
                    background-color: $boton;
                    transition: 0.2s;
                    margin: 3px;
                    &:hover{
                        transform: scale(1.1);
                    }

                }
            }
        }
    }
}
                                                    /*Pie de página*/
footer{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
    grid-template-areas: 
    "sn rs"
    "f f";
    background-color: $color-fondo;

    div{
        padding: 20px;
        text-align: center;
        color: white;
        h5{
            font-size: 15px;
        }
    }
    #sn{
        grid-area: sn;
    }
    #rs{
        grid-area: rs;
    }
    #f{
        grid-area: f;
        color: $gris;
    }
}

                                                 /*Pequeños detalles para que la página sea rsponsive*/

@media (max-width:500px) {
    .encabezado{
        flex-direction: column;
    }
    .navegador{
        padding-top: 0px;
    } 
    .producto{
        text-align: center;
    }
    #f{
        margin-top: 100px;
    }
}

